<div class = "p-3 mb-2 text-white d-flex justify-content-center align-items-center" style="height: 300px; background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
    <div class="text-center">
      <h1><%= @list.name %></h1>
      <h3 class="opacity-75"><span data-controller="typed-js"></span></h3>
    </div>
</div>

<div class="container">
<%= link_to '<< Back to lists', lists_path, class: "button btn-back" %>

  <div class="row mt-4">
    <div class="col-12 col-lg-8">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card mb-3 shadow-sm border border-dark border-2 rounded" style="max-width: 700px;">
          <div class="row g-0">
            <div class="col-md-4">
              <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class: "card-img img-fluid rounded border border-dark border-2 rounded"  %>
            </div>
            <div class="col-md-8 d-flex justify-content-between flex-column">
              <div class="card-body d-flex flex-column justify-content-between">
                <div class="flex-grow-1">
                  <h5 class="card-title"><%= bookmark.movie.title %></h5>
                  <p class="card-text"><%= bookmark.movie.rating %><i class="fa-solid fa-star"></i></p>
                  <p class="card-text text-muted"><%= bookmark.movie.overview[0..300] %>...</p>
                </div>
              </div>
              <div class="d-flex justify-content-between card-footer align-items-center mb-3">
                <div>
                  <p class="card-text"><i class="fa-solid fa-quote-left"></i><%= bookmark.comment %></p>
                </div>
                <%= link_to bookmark_path(bookmark), class: "button btn-delete",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-trash-can"></i><span> Delete</span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card card-body shadow-sm add-movie border border-dark border-2 rounded">
        <h3>Add a movie to your list</h3>
        <%= simple_form_for [@list, @bookmark] do |f|%>
          <%= f.association :movie, collection: Movie.order(:title) %>
          <%= f.input :comment %>
          <div class="d-flex justify-content-center">
            <%= f.submit "Add to my list", class: "btn btn-outline-dark rounded-pill" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
